html {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  
  .form {
    margin: 15px;
    width: 375px;
  }
  